@model IEnumerable<Category>
  
<ul class="list-group">
  @foreach (Category category in Model)
  {
    <li class="list-group-item"><a asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryName</a> - @category.Description</li>
  }
</ul>
